adafruit-circuitpython-ina219
adafruit-blinka
board
busio
RPI.GPIO
smbus2
requests
influxdb-client
w1thermsensor
adafruit-circuitpython-bme280
adafruit-circuitpython-mpu6050
adafruit-circuitpython-bh1750
gps3
meshtastic
matrix-nio[e2e]
PyYAML
